<style>
    .axis line {
        stroke: grey;
    }

    .axis path {
        stroke: grey;
    }

    .axis text {
        fill: white;
    }

    .legend {
        list-style: none;
    }

    .legend li {
        float: left;
        margin-right: 10px;
    }

    .legend span {
        border: 1px solid #ccc;
        float: left;
        width: 15px;
        height: 15px;
        margin: 2px;
    }
</style>
<ul class="legend">
    <li ng-repeat="c in colors"><span style='background:{{c.Color}}'></span>&nbsp;&nbsp;&nbsp;{{c.State}}</li>
</ul>

<div id="da_{{ctrl.panel.id}}" style="width: 100%; height: 100%"></div>
